body 
{
	background-color: grey;
}

div.playField
{
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	left: 0;
	
}





img.mainImage
{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
}

img.cardWall
{

	position: absolute;
	top: 38.421%;
	left: 78.584%;
	z-index: 1;
	width: 3%;
	height: auto;
	opacity: 0.0;
}

img.cardRemoved
{

	position: absolute;
	top: 79.646%;
	left: 83.138%;
	z-index: 1;
	width: 7%;
	height: auto;
	opacity: 0.0;
}

img.firstKey
{

	position: absolute;
	top: 59.501%;
	left: 84.8%;
	z-index: 1;
	width: 4.2%;
	height: auto;
	opacity: 0.0;
}

img.lockbox
{

	position: absolute;
	top: 69.643%;
	left: 17.984%;
	z-index: 2;
	width: 5.9%;
	height: auto;
	opacity: 0.0;
}

img.fireplace
{

	position: absolute;
	top: 66.562%;
	left: 32.553%;
	z-index: 1;
	width: 7.25%;
	height: auto;
	opacity: 0.0;
}

img.featherDuster
{

	position: absolute;
	top: 65.697%;
	left: 15.03%;
	z-index: 1;
	width: 7.25%;
	height: auto;
	opacity: 0.0;
}

img.cobweb
{

	position: absolute;
	top: 20.006%;
	left: 10.215%;
	z-index: 1;
	width: 11.2%;
	height: auto;
	opacity: 0.0;
}

img.coffin
{

	position: absolute;
	top: 35.34%;
	left: 4.2%;
	z-index: 1;
	width: 12%;
	height: auto;
	opacity: 0.0;
}

div.textBoxes
{
	
	
}

.description
{
	
	
	border: 2px solid black;
}

.inventory
{
	
	
	border: 2px solid black;
}